body {
    background-color: black;
}

h1 {
    color: bisque;
}

div {
    text-align: center;
}

button {
    height: 2.2em;
    width: 5.5em;
    border: none;
    color: bisque;
}

button:hover {
    cursor: pointer;
}

.start-btn {
    background-color: darkgreen;
}

.pause-btn {
    background-color: dimgray;
}

.stop-btn {
    background-color: darkred;
}